@{
    ViewBag.Title = "Gerichte";
}
<h2>Bitte wählen Sie ein Produkt aus</h2>


<address>
    <br />
    Obere Marktstraße 12, 4822 Bad Goisern am Hallstättersee<br />
   
   TEL: 06135 7141
</address>

