@{
    ViewBag.Title = "Gerichte";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    <br />
    Obere Marktstraße 12, 4822 Bad Goisern am Hallstättersee<br />
   
   TEL: 06135 7141
</address>

